<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/article/<%= article.id %>" method="POST">
     <input type="text" name="title" placeholder="Enter Title" value="<%= article.title %>">
     <input type="text" name="description" placeholder="Enter Description" value="<%= article.description %>">
     <input type="text" name="tags" placeholder="Enter Tags.." value="<%= article.tags %>">
     <input type="text" name="author" placeholder="Enter Author Name" value="<%= article.author %>">
     <input type="submit" value="submit">
    </form>
</body>
</html>